<ng-container *ngIf="channelDetails.id">
  <div class="d-flex gap-4 pb-4">
    <img
      class="channel-profile-img"
      alt=""
      [src]="channelDetails?.profile_pic_name"
      onerror="this.onerror=null;this.src='assets/default-profile.jpg';"
    />
    <a class="channel-brand"
      >{{ channelDetails?.firstname }}
      <span
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Verified"
      >
        <fa-icon [icon]="['fas', 'check-circle']" [fixedWidth]="true" /> </span
    ></a>
  </div>
</ng-container>
<ng-container *ngIf="!channelDetails.id">
  <div class="d-flex align-items-center gap-4 pb-4">
    <img
      class="channel-profile-img"
      alt=""
      [src]="channelDetails?.profile_pic_name"
      onerror="this.onerror=null;this.src='assets/default-profile.jpg';"
    />
    <div class="d-flex flex-column">
      <a class="channel-brand text-capitalize">
        {{ categoryName === 'featuredVideos' ? 'Featured Videos' : categoryName === 'independentmedia' ? 'Independent Media' : categoryName }}
      </a>
      <p class="d-flex gap-2" *ngIf="pagination.totalItems">
        {{pagination.totalItems}} Videos
      </p>
    </div>
  </div>
</ng-container>
<div class="single-channel-nav">
  <nav class="navbar navbar-expand-lg navbar-light w-100">
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto flex-row gap-4">
        <li
          class="nav-item cursor"
          (click)="activeTab = 1"
          [ngClass]="activeTab === 1 ? 'active' : ''"
        >
          <a class="nav-link">Videos <span class="sr-only">(current)</span></a>
        </li>
        <li
          *ngIf="channelDetails?.id"
          class="nav-item cursor"
          (click)="activeTab = 2"
          [ngClass]="activeTab === 2 ? 'active' : ''"
        >
          <a class="nav-link">About</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link">Channels</a>
        </li> -->
      </ul>
      <ng-container *ngIf="useDetails?.profileId !== channelDetails?.profileid && shareService.getCredentials() && channelDetails?.id"
      >
      <div class="d-flex align-items-center form-inline my-2 my-lg-0">
        <button class="btn btn-sm" [ngClass]="!channelDetails?.isSubscribed ? 'btn-success' : 'btn-danger'" (click)="channelSubscribe(channelDetails?.isSubscribed)">
          {{ !channelDetails?.isSubscribed ? 'Subscribe' : 'Unsubscribe'}}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="useDetails?.profileId === channelDetails?.profileid && shareService.getCredentials() && channelDetails?.id"
    >
      <div class="d-flex align-items-center form-inline my-2 my-lg-0">
        <button class="btn btn-sm btn-primary" (click)="editChannel(channelDetails)">
          Edit Details
        </button>
      </div>
    </ng-container>
    </div>
  </nav>
</div>

<div class="video-block section-padding">
  <div class="row">
    <div class="col-md-12">
      <div class="main-title mt-3">
        <ng-container *ngIf="activeTab === 1">
          <h6 *ngIf="channelDetails.id">My Videos</h6>
          <app-video-card [videoData]="videoList" />
          <app-pagination
          [items]="pagination?.totalItems"
          (onPageChange)="onPageChange($event, categoryName)"
        />
        <div
        class="d-flex justify-content-center mb-2"
        *ngIf="hasMoreData"
        >
        <button class="btn btn-outline-primary" (click)="getPostByCategory(categoryName)">
          Load More
        </button>
      </div>
        </ng-container>
        <ng-container *ngIf="activeTab === 2">
          <h6>About</h6>
          <div class="d-flex flex-column gap-2 flex-sm-row justify-content-between">
            <div class="d-flex flex-column" *ngIf="channelDetails?.description">
              <h2>Description</h2>
              <p>{{ channelDetails?.description }}</p>
            </div>
            <div class="d-flex flex-column">
              <h2>Additional Details</h2>
              <p class="d-flex gap-3">
                <fa-icon [icon]="['fas', 'calendar']" />
                Joined {{ channelDetails?.created | date : "MMM d, y" }}
              </p>
              <p class="d-flex gap-3">
                <fa-icon [icon]="['fas', 'video']" />
                videos {{ channelDetails?.videoCount }}
              </p>
              <p class="d-flex gap-3">
                <fa-icon [icon]="['fas', 'eye']" />
                subscribers {{ channelDetails?.subscribers }}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
