<div class="">
  <div class="text-center mb-5 login-main-left-header pt-4">
    <img src="assets/img/TubeBuzz-Logo.png" class="img-fluid register-logo" alt="LOGO" />
    <h5 class="mt-3 mb-3 custom-text">Welcome to Tube.buzz</h5>
  </div>
  <form class="form-dark d-flex flex-column" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-{{ type }}" role="alert" *ngIf="registrationMessage || msg">
      {{ registrationMessage || msg }}
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3 px-6 ">
        <label class="form-label">Profile Picture<span class="text-danger"></span></label>
        <app-img-picker classes="w-200-px h-200-px signup-img" (onFileChange)="selectFiles($event)" />
      </div>
      <div class="col-12 col-md-6 mb-3 single-box border px-6 p-5">
        <p class="align-items-center text-start my-auto mt-3 box-font text-black font-check">
          Hide your personal information and remain anonymous on
          Tube.buzz.<br />Only your User Name will be displayed
        </p>
        <div class="d-flex justify-content-end">
          <input type="checkbox" class="my-3 check-box" formControlName="Anonymous" />
          <span class="text-danger">*</span>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="input-area form-control form-control border" name="FirstName" placeholder="Enter Your Name"
          formControlName="FirstName" />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="input-area form-control form-control border " name="LastName" placeholder="Enter Your Name"
          formControlName="LastName" />
      </div>
      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Username<span class="text-danger">*</span></label>
        <input type="text" class="input-area form-control border" name="Username" placeholder="Enter Your Username Name"
          formControlName="Username" autocomplete="Username" required (input)="onChangeTag($event)" />
        <div class="text-danger" *ngIf="
            registerForm.get('Username').invalid &&
            registerForm.get('Username').touched
          ">
          <ng-container *ngIf="registerForm.get('Username').hasError('required')">
            Username is required.
          </ng-container>
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Email Address<span class="text-danger">*</span></label>
        <input type="email" name="Email" class="input-area form-control border" required placeholder="Enter your email"
          formControlName="Email" autocomplete="Email" />
        <div class="text-danger" *ngIf="
            registerForm.get('Email').hasError('required') &&
            registerForm.get('Email').touched
          ">
          Please enter valid Email.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Password<span class="text-danger">*</span></label>
        <div class="d-flex custom-input-area position-relative">
          <input type="password" class="input-area form-control border" required name="password"
            placeholder="Enter your password" (input)="changetopassword($event)" (keyup)="changetopassword($event)"
            formControlName="Password" autocomplete="new-password" #passwordInput />
          <!-- [icon]="passwordHidden ? ['fas', 'eye'] : ['fas', 'eye-slash']" -->
          <fa-icon [icon]="passwordHidden ? ['fas', 'eye'] : ['fas', 'eye-slash']"
            class="font-20-px position-absolute eye-slash" (click)="togglePasswordVisibility(passwordInput)"></fa-icon>
        </div>
        <div class="text-danger" *ngIf="
            registerForm.get('Password').hasError('required') &&
            registerForm.get('Password').touched
          ">
          Please enter valid Password.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Confirm Password<span class="text-danger">*</span></label>
        <div class="d-flex custom-input-area position-relative">
          <input type="password" class="input-area form-control border" required name="confirmPassword"
            placeholder="Enter confirm password" (focusout)="validatepassword()" (input)="changetopassword($event)"
            (keyup)="changetopassword($event)" formControlName="confirm_password" autocomplete="new-password"
            #confirmpasswordInput />
          <fa-icon [icon]="confirmpasswordHidden ? ['fas', 'eye'] : ['fas', 'eye-slash']"
            class="font-20-px position-absolute eye-slash"
            (click)="toggleConfirmPasswordVisibility(confirmpasswordInput)"></fa-icon>
        </div>
        <div class="text-danger" *ngIf="
            registerForm.get('confirm_password').hasError('required') &&
            registerForm.get('confirm_password').touched
          ">
          Password is not matched.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Mobile<span class="text-danger">*</span></label>
        <input type="number" class="input-area form-control border" name="MobileNo" placeholder="Enter your mobile number"
          formControlName="MobileNo" />
        <div class="text-danger" *ngIf="
            registerForm.get('MobileNo').hasError('required') &&
            registerForm.get('MobileNo').touched
          ">
          Mobile number is required.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Country<span class="text-danger">*</span></label>
        <select id="Country" required name="Country" class="input-area form-control w-100 border" formControlName="Country"
          (input)="convertToUppercase($event)" (change)="onCountryChange($event)">
          <option [value]="defaultCountry"><span class="text-black">United states</span></option>
          <option [value]="item.country_code" *ngFor="let item of allCountryData">
            <span class="text-black">{{ item.country }}</span>
          </option>
        </select>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">Zip Code<span class="text-danger">*</span></label>
        <input type="text" class="input-area form-control border" required placeholder="Enter your zip code"
          formControlName="Zip" name="Zip" #zipCode (input)="convertToUppercase($event)" />
        <div class="text-danger" *ngIf="
            registerForm.get('Zip').hasError('required') &&
            registerForm.get('Zip').touched
          ">
          Zip code is required.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">State<span class="text-danger">*</span></label>
        <!-- <select id="State" required name="State" class="input-area form-control w-100" formControlName="State">
          <option *ngFor="let item of allStateData">
            {{ item.state }}
          </option>
        </select> -->
        <input type="text" class="input-area form-control border" required name="State" placeholder="Enter your city"
        formControlName="State" />
        <div class="text-danger" *ngIf="
            registerForm.get('State').hasError('required') &&
            registerForm.get('State').touched
          ">
          State is required.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">City<span class="text-danger">*</span></label>
        <input type="text" class="input-area form-control border" required name="City" placeholder="Enter your city"
          formControlName="City" />
        <div class="text-danger" *ngIf="
            registerForm.get('City').hasError('required') &&
            registerForm.get('City').touched
          ">
          City is required.
        </div>
      </div>

      <div class="col-12 col-md-6 mb-3">
        <label class="form-label">County<span class="text-danger">*</span></label>
        <input type="text" class="input-area form-control border" required name="County" placeholder="Enter your County"
          formControlName="County" />
        <div class="text-danger" *ngIf="
            registerForm.get('County').hasError('required') &&
            registerForm.get('County').touched
          ">
          County is required.
        </div>
      </div>
    </div>
    <!-- <div class="form-check ps-0 my-4 d-flex">
      <div id="captcha" #captcha></div>
    </div> -->
    <div class="form-check ps-0 my-4 d-flex">
      <input type="checkbox" class="p-0 check-box" formControlName="TermAndPolicy" />
      <label class="form-check-label ms-2 c-pointer">
        I agree to the Tube.buzz
        <a class="custom-text" href="/user-agreement" target="_blank">Terms of Use</a> and
        <a class="custom-text" href="/privacy-policy" target="_blank">Privacy Policy</a>.
        <span class="text-danger">*</span>
      </label>
    </div>

    <div class="text-center mt-5 d-flex">
      <p class="light-gray">
        Already have an Account? <a class="custom-text" routerLink="/login">Sign In</a>
      </p>
      <button class="btn btn-primary my-2 ms-auto" type="submit" [disabled]="!registerForm.valid">
        Register
      </button>
    </div>
  </form>
</div>