:host {
  .custom-input-area {
    fa-icon {
      right: 15px;
      background-color: var(--box-1st-color);
      border-radius: 50%;
      height: 36px;
      width: 36px;
      text-align: -webkit-center;
      align-content: center;
    }
  }

  .custom-text {
    color: var(--blue-text);
  }

  .input-area {
    color: black !important;

  }

  fa-icon {
    fill: var(--blue-text) !important;
  }
}

.login-content {
  .banner-sction {
    background-image: url(/assets/images/banner/banner-2.jpg);
    width: 299px;
    height: 490px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 54%;

    @media (min-width: 990px) and (max-width: 1400px) {
      width: 290px;
      height: 400px;
    }

    .hrero-section {
      background: var(--hero-section-bg);
      padding: 50px;
      position: relative;
      height: 490px;

      @media (min-width: 990px) and (max-width: 1400px) {
        height: 400px;
        width: 290px;
      }

      .about-freedom {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translate(0, -50%);
        padding: 30px;

        h3 {
          font-weight: 600;
        }
      }
    }
  }



  .form-check-label {
    text-transform: none;
  }
}

.check-box {
  width: 20px;
  height: 20px;
}

.font-check {
  // font-size: 20px;
}

// .register-logo{
//   max-width: 400px;
// }
.signup-img {
  background-color: var(--card-bg);
}

// @media (max-width:576px) {
//   *::before, *::after{
//     box-sizing: unset !important;
//   }
// }